@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/*selector de etiquetas */
h1{
    text-align: center;
    padding: 10px;
}
nav{
    background-color: black;
}
footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
    footer img{
        width: 280px;
        height: 55px;
        display: flex;
    }
        footer p{
            color: rgb(255, 255, 255);
            font-size: 1.7em;
        }
            footer ul li{
                list-style: square;
                color: white;
            }
                footer ul li a{
                    color: white;
                    font-size: 1.2em;
                    text-decoration: none;
                }
form{
    text-align: center;
}
    form div input{
        width: 300px;
        height: 20px;
    }
/*selector de clases */

.logo-size{
    width: 350px;
    height: 60px;
}
.nav_font-size{
    font-family: "Play", sans-serif;
    font-size: 22px;
    margin-left: 70px;
    margin-right: 10px;
}
.img-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-derechos{
    font-size: 1.0em;
}
.contenedor_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.contenedor_contacto-texto{
    text-align: center;
    display: flex;
    margin-top: 5px;
}

.btn-contacto{
    border: solid;
    background-color: #0C2F5D;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}