h1{
    font-family: $mainFont;
    margin-top: 10px;
    font-size: $fontSizeA;
    text-align: $centro;
}
h2{
    font-family: $mainFont;
    font-size: $fontSizeB;
}
h3{
    font-family: $mainFont;
    font-size: $fontSizeC;
}
