nav{
    background-color: black;
    .nav_font-size{
        font-family: $mainFont;
        font-size: 1.3em;
        margin-left: 50px;
        margin-right: 10px;
    }
    .logo-size{
        width: 350px;
        height: 60px;
    }
}

.img-banner{
    width: 100%;
}