// Fonts
$mainFont: "Play", sans-serif;
$fontSizeA: 2.8em;
$fontSizeB: 2.2em;
$fontSizeC: 1.9em;
$sizeSS: 1.3em;
$sizeMD: 1.1em;
$sizeS: 1em;

// alineación
$centro: center;
$derecho: left;
$izq: right;

// fondos
$mainBg: black;

// displays
$d: flex;
$g: grid;